<%= render 'layouts/navbar_user' %>
<div class="container">
	<% if notice.present? %>
	<div class="alert alert-info alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<%= notice %>
	</div>
	<% end %>
	<div class="row">
		<%= render 'layouts/menu_lateral_users' %>
		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
			<div class="user-container">
			</div>
		</div>
	</div>
</div>